
.banner-image>img{
    /* opacity: 0.5; */
    top: 50px;
    position:relative;
    max-width: 70vh;
    max-height: 70vh;
    margin-right: 40px;
    left: 0;
}
.flexer{
    display: flex;
    width: 100%;

}
.banner-text > h3{
    margin-top: 70px;
    margin-bottom: 40px;
    
}

.a{
    margin: 40px;
    color: black;
    font-size:20px;
    font-family: Lexend, sans-serif;
}




