.navbar{
    position: relative;
    top: 0;
    background-color: red;
    width: 100%;
    z-index: 1000;
    
}
.nav-link:hover{
    color: brown;
}
/* .navbar > .container{
    background-color: red;
} */
