.resume-wrapper {
    display: flex; /* Use flexbox to center the content */
    justify-content: center; /* Center the resume */
     /* Auto margins to center */
     /* margin-left: 25%; */
     /* Set a maximum width for the resume wrapper */
     page-break-inside: avoid;
     
  }
  .download-btn {
    position: fixed;
    right: 50px; /* Adjust margin from left */
    bottom: 20px; /* Optional: You can fix it at the bottom too */
    padding: 5px;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .download-icon {
    width: 70px; /* Adjust the width as needed */
    height: 70px; /* Adjust the height as needed */
  }
 
  
  