.resume-wrapper {
    display: flex; /* Use flexbox to center the content */
    justify-content: center; /* Center the resume */
     /* Auto margins to center */
     margin-left: 20%;
     /* Set a maximum width for the resume wrapper */
  }